@{
    ViewBag.Title = "About";
}

<section class="single-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Rreth Nesh</h2>
                <nav aria-label="breadcrumb mx-auto" role="navigation">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Faqe Kryesore</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Rreth Nesh</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<section class="about-2 section bg-gray" id="about">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5">
                <h2>
                    Tregu më i madh në botë për punë të pavarur.
                </h2>
            </div>
            <div class="col-12 col-md-7">
                <p>
                    WeDevelop është tregu më i madh në botë për freelancing dhe kërkimin e burimeve nga numri i përdoruesve dhe projekteve. Punëdhënësit mund të punësojnë profesionistë të pavarur për të
                    bërë punë në fusha të tilla si zhvillimi i softuerit, shkrimi, futja e të dhënave dhe krijimi i të drejtave përmes inxhinierisë, shkencave, shitjeve dhe marketingut, kontabilitetit dhe shërbimeve ligjore.


                </p>
            </div>

        </div>
    </div>
</section>
<br />
<hr />
<hr />
<br /><br /><br />

<div class="container">

    <div class="row">
        <div class="block">
            <h1 style="font-size:40px !important"><b>PSE DUHET TE PUNONI ME NE?!</b></h1>
        </div>
    </div>

    <br /><br /><br />

    <div class="row">

        <div class="col-md-4">
            <div>
                <h2>

                    <img src="~/Content/images/Screenshot (66).png" /> <b>Shfletoni Portofliot</b>
                </h2>
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <h2>


                    <img src="~/Content/images/Screenshot (67).png" /> <b>Kerkoni Oferta</b>
                </h2>
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <h2>

                    <img src="~/Content/images/Screenshot (68).png" /> <b> Komunikim Live</b>
                </h2>
            </div>
        </div>

    </div>

    <br />

    <div class="row">

        <div class="col-md-4">
            <div>

                <h4>
                    Gjeni profesionistë të cilëve mund t'u besoni
                    duke shfletuar shembujt e tyre të punës së mëparshme dhe duke lexuar rishikimet e profilit të tyre.
                </h4>
            </div>
        </div>

        <div class="col-md-4">
            <div>

                <h4>
                    Merrni oferta falas nga freelancerët tanë të talentuar brenda sekondave.
                </h4>
            </div>
        </div>

        <div class="col-md-4">
            <div>

                <h4>
                    Ju mund të bisedoni drejtpërdrejt me profesionistët tuaj
                    të pavarur për të marrë azhurnime të vazhdueshme mbi përparimin e punës tuaj.
                </h4>
            </div>
        </div>
    </div>
    <br /><br />

    <div class="row">

        <div class="col-md-4">
            <div>
                <h2>

                    <img src="~/Content/images/Screenshot (69).png" /> <b>Paguani per Cilesine</b>
                </h2>
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <h2>

                    <img src="~/Content/images/Screenshot (70).png" /> <b>Gjurmoni progresin</b>
                </h2>
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <h2>

                    <img src="~/Content/images/Screenshot (71).png" /> <b>Suport 24/7</b>
                </h2>
            </div>
        </div>

    </div>

    <br />

    <div class="row">

        <div class="col-md-4">
            <div>

                <h4>
                    Paguani për punën kur të ketë përfunduar dhe të jeni 100% të kënaqur.
                </h4>
            </div>
        </div>

        <div class="col-md-4">
            <div>

                <h4>
                    Jini të azhurnuar dhe në lëvizje me gjurmuesin tonë të kohës dhe aplikacionin celular.
                </h4>
            </div>
        </div>

        <div class="col-md-4">
            <div>

                <h4>
                    Ne jemi gjithmonë këtu për të ndihmuar. Mbështetja jonë përbëhet nga njerëz të vërtetë që janë në dispozicion 24/7.
                </h4>
            </div>
        </div>
    </div>

</div>

<br />
<br />
<hr />
<br />
<section class="call-to-action section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Perfundo punen qe te duhet me stafin tone </h2>
                <p>Duke filluar qe nga punet me te thjeshta si Data Entry, Ilustrim, Dizanj deri ne Zhvillim Webi <br> Cmimet me konkuruese ne treg dhe staf profesional</p>
                <a href="" class="btn btn-main">Kontakto me Ne</a>
            </div>
        </div>
    </div>
</section>
