@{
    ViewBag.Title = "Contact";
}
<section class="single-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Na Kontaktoni</h2>
                <nav aria-label="breadcrumb mx-auto" role="navigation">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Na Kontakto</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>


<!-- Srart Contact Us
        =========================================== -->
<section class="contact-us section bg-gray" id="contact">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="title text-center">
                  
                 
                    <span class="border"></span>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-4">
                <div class="address-block contact-meta-block">
                    <i class="tf-ion-android-pin"></i>
                    <h4>Lokacioni</h4>
                    <p>
                        Zona Ish-Bllokut <br>
                        Tirane , Shqiperi <br>

                    </p>

                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="phone-block contact-meta-block">
                    <i class="tf-ion-ios-telephone"></i>
                    <h4>Na telefono</h4>
                    <p>
                        Zyra: 06889576987 <br>
                        Fax: +61 3827 3590
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="social-icons-block contact-meta-block">
                    <i class="tf-ion-ios-contact"></i>
                    <h4>Na gjeni ne rrjete sociale</h4>
                    <ul class="list-inline social-icon">
                        <li class="list-inline-item"><a href=""><i class="tf-ion-social-facebook"></i></a></li>
                        <li class="list-inline-item"><a href=""><i class="tf-ion-social-twitter"></i></a></li>
                        <li class="list-inline-item"><a href=""><i class="tf-ion-social-linkedin"></i></a></li>
                        <li class="list-inline-item"><a href=""><i class="tf-ion-social-dribbble"></i></a></li>
                        <li class="list-inline-item"><a href=""><i class="tf-ion-social-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>