@{
    ViewBag.Title = "Home Page";
}

<section class="hero-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="video-player">

                    <img src="~/Content/images/first.jpg" width="550" height="300" />

                </div>
            </div>
            <div class="col-md-6">
                <div class="block">
                    <h2> "Puneso personat me te mire per cfaredolloj pune"... Online!!</h2>
                    <p> Shume njerez perdorin WeDevelop per te kthyer idete e tyre ne Realitet kudo qe ato ndodhen  </p>
                    <ul class="list-inline wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".7s">
                        <li class="list-inline-item">
                            <a href"#" target="_blank" class="btn btn-main">Me shume</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<hr />


<br /><br /><br /><br />
<div class="container">

    <div class="row">
        <div class="block">
            <h1><b>PERZGJEDH NGA MUNDESITE E PAFUNDME</b></h1>
        </div>
    </div>
    <br /><br />
    <div class="row">
        <h3>Bëni gjithçka, saktësisht si e dëshironi. Kthejeni atë shkëndijë të një ideje në realitet.</h3>
    </div>
    <br /><br />
    <div class="row">

        <div class="col-md-4">
            <div class="text-center">
                <img src="~/Content/images/Screenshot (62).png" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="text-center">
                <img src="~/Content/images/Screenshot (63).png" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="text-center">
                <img src="~/Content/images/Screenshot (64).png" />
            </div>
        </div>

    </div>
    <div class="row">

        <div class="col-md-4">
            <div class="text-center">
                <h3>Cdo projekt!!</h3>
                <p>
                    Bëni çdo punë të bërë. Nga detyra të
                    vogla të njëhershme në projekte të mëdha, me shumë faza.
                </p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="text-center">
                <h3>Kushte fleksibel ne pagese</h3>
                <p>
                    Paguani profesionistët tuaj të pavarur një çmim fiks ose sipas orës.
                    Të gjitha të siguruara nga sistemi i Pagesave!
                </p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="text-center">
                <h3>Talente te larmishem</h3>
                <p>
                    Zgjidhni nga profesionistë të pavarur profesionistë
                    në mbi 200 grupe aftesish!
                </p>
            </div>
        </div>
    </div>


</div>

<br />
<br />
<hr />
<hr />
<br />
<br />

<div class="container">
    <div class="row ">
        <div class="col-md-6">
            <div class="img-responsive">
                <img src="~/Content/images/how-it-works.jpg" width="500" height="450" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="block">
                <br /><br />
                <h2> SI FUNKSIONON?</h2>  <br /><br />
                <h3> 1. Rregjistrohu dhe Posto projektin tend!</h3>
                <p>Duke u rregjistruar ti ke mundesi te postosh projektin qe duhet te perfundosh, dhe keshtu stafi do te kerkoje freelancerin qe te pershtatet</p>
                <br />
                <h3> 2. Zgjidh sherbimin qe te nevojitet!</h3>
                <p>Duke perzgjedhur sherbim qe te nevojitet stafi ju kontakton dhe puna mund te startoje qe ne momentin e perzgjedhjes</p>
                <br />
                <h3>3. Paguaj kur te kesh mbaruar pune!</h3>
                <p>Pagesa ne WeDevelop kryhet ne momentin qe puna ka perfunduar, dergohet si fillim preview dhe pas pageses merret projekti</p>
            </div>


        </div>




    </div>


</div>




<!-- Srart Contact Us
        =========================================== -->
<section class="contact-us section bg-gray" id="contact">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="title text-center">
                    <h4>Ler nje shenim</h4>
                    <h2>Na kontakto</h2>
                    <span class="border"></span>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-4">
                <div class="address-block contact-meta-block">
                    <i class="tf-ion-android-pin"></i>
                    <h4>Lokacioni</h4>
                    <p>
                        Zona Ish-Bllokut <br>
                        Tirane , Shqiperi <br>

                    </p>

                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="phone-block contact-meta-block">
                    <i class="tf-ion-ios-telephone"></i>
                    <h4>Na telefono</h4>
                    <p>
                        Zyra: 06889576987 <br>
                        Fax: +61 3827 3590
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="social-icons-block contact-meta-block">
                    <i class="tf-ion-ios-contact"></i>
                    <h4>Na gjeni ne rrjete sociale</h4>
                    <ul class="list-inline social-icon">
                        <li class="list-inline-item"><a href=""><i class="tf-ion-social-facebook"></i></a></li>
                        <li class="list-inline-item"><a href=""><i class="tf-ion-social-twitter"></i></a></li>
                        <li class="list-inline-item"><a href=""><i class="tf-ion-social-linkedin"></i></a></li>
                        <li class="list-inline-item"><a href=""><i class="tf-ion-social-dribbble"></i></a></li>
                        <li class="list-inline-item"><a href=""><i class="tf-ion-social-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>