
<div class="bg-modal">
    <div class="modal-content">
        <div class="close">+</div>
        <img src="" alt="">
        <form action="">
            <input type="text" class="IInput" name="" id="" placeholder="Email">
            <input type="text" class="IInput" name="" id="" placeholder="Password">
            <a href="">Submit</a>
        </form>
    </div>
</div>




<script>
        document.getElementById('button').addEventListener('click',function(){
        document.querySelector('.bg-modal').style.display='flex';
        });
        document.querySelector('.close').addEventListener('click',function(){
        document.querySelector('.bg-modal').style.display='none';
        });
</script>

