
@{
    ViewBag.Title = "Perdorues";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Perdorues</h2>
@model IEnumerable<WeDevelop.Models.ApplicationUser>
<div class="main-container">
    <div class="pd-ltr-20">
        <div class="card-box pd-20 height-100-p mb-30">
            @*<div class="row">
                 <div style="margin-bottom:20px;" class="col-md-7">
                      <input type="text" id="kerko" style="height: 40px; outline-color:lightgray;" />
                      <input type="submit" id="btnKerko" value="Kerko" class="btn btn-outline-primary" />
                 </div>
            </div>*@
            <div class="row">
                <table class="col-md-12 table table-hover">
                    <tr class="table-active">
                        <th colspan="3" style="text-align:center;">
                            Perdoruesit
                        </th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="col-md-6">
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td class="col-md-2">
                                @Html.ActionLink("Detajet", "DetajetPerdorues", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-info" })
                            </td>
                            @*<td class="col-md-2">
                                @Html.ActionLink("Modifiko", "ModifikoPerdorues", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-primary" })
                            </td>*@
                        </tr>
                    }
                </table>
            </div>
        </div>                
      </div>      
</div>



